.header {
  background-color: lightblue;
  text-align: center;
  padding: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #304d45;
}

li {
  float: left;
  border-right: 4px solid black;
  padding: 10px;
  color: white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.main div {
  border: 1px solid black;
  flex: 1;
  height: 400px;
  background-color: grey;
  text-align: left;
}

.main div:nth-child(2) {
  border: 1px solid black;
  flex: 2;
  background-color: rgba(156, 147, 147, 0.726);
  text-align: left;
}

.main div:nth-child(3) {
  background-color: rgba(156, 147, 147, 0.418);
}

.footer {
  text-align: center;
  background-color: #304d45;
  color: white;
  padding: 2px 0 2px 0;
}

@media only screen and (max-width: 600px) {
  .main {
    flex-basis: 30%;
    flex-wrap: wrap;
  }

  .main div:nth-child(1) {
    order: 1;
  }
  .main div:nth-child(2){
    order: 3;
    flex-basis:100% ;
  }

  .main div:nth-child(3){
    order: 2;
  }
}
